.nav-link {
    color: white !important
}

.img-thumbnail img{
    
    height: 240 !important;
    width: 160 !important; 
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

#titulosJumbotron {
    background-color: #0A1D29;
    color: white;
}

#conteudoJumbotron {
    background-color:#3E606F;
}

.container {
    color: white;
}

.livrosCatalogo {
    border: white;
}

.img-thumbnail {
    height: 240 !important;
    width: 160 !important;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
     
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0A1D29;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.container {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/*
.modal-lg {
    max-width: 60%;
}*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

